.menu {
  background: none;
  border: none;
  outline: none;
  margin: none;
  color: black;
  height: 100%;
  color: black;
  cursor: pointer;
  width: 80px;
}

.menu > svg {
  width: 60px;
}

.menu:focus-visible {
  outline: 2px dashed black;
}

.dropdown {
  position: absolute;
  top: calc(100% + 16px);
  right: 16px;
  height: fit-content;
  width: 250px;
  border: 1px solid #00000010;
  border-radius: 6px;
  list-style: none;
  padding: 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background: white;
}

.dropdown ul {
  padding: 0;
  margin: 0;
}

.dropdown a,
.dropdown button {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  display: block;
  padding-block: 10px;
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

.dropdown *:focus-visible {
  outline: 2px dashed black;
}
